.carrousel-image-one,
.carrousel-image-two {
  object-fit: cover;
  height: 400px;
}

.carrousel-image-one {
  object-position: 0 80%;
}

h1 {
  font-family: "Pacifico", cursive;
}

.header-darkred {
  color: darkred;
}

/* .card-body,
.card-img-top {
  border: 1px solid darkred;
} */

body > .card {
  border-color: darkred;
}

.card .btn-card {
  background-color: darkred;
  color: #fff;
}
