.carrousel-image-one,
.carrousel-image-two {
  object-fit: cover;
  height: 400px;
}

.carrousel-image-one {
  object-position: 0 80%;
}

h1,
.navbar-brand {
  font-family: "Pacifico", cursive;
}

.header-darkred {
  color: darkred !important;
}

/* .card-body,
.card-img-top {
  border: 1px solid darkred;
} */

.wrapper-card .card {
  border-color: darkred;
}

.card .btn-card,
.modal .btn-modal {
  background-color: darkred;
  color: #fff;
}

.wrapper-card .card-width {
  max-width: 18rem;
}

.card-image-position {
  height: 200px;
  object-fit: cover;
  object-position: 0 80%;
}

i {
  font-size: 30px;
}
